.search {
    top: 80px;
    position: relative;
    text-align: center;

}

.search__box {
    display: flex;
    gap: 10%;
    flex-direction: column;
}

.search__grid {
    padding: 20px;

}

.search__btn {

    width: 100%;
}